<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>
      {{ get_flashed_messages() }}


    <div class="block_title">
        <p class="title">Welcome to Crypto Chat</p>
        <p>Connecté en tant que {{ session.get('username') }}</p>
    </div>
    <button onclick="window.location.href='/disconnect'">Se déconnecter</button>

    <button onclick="window.location.href='/generate_key'">Générer mes clés</button>

    <p>Ta clé privée : {{ private_key if private_key is defined else 'Non fournie' }}</p>
    <p>Ta clé publique : {{ public_key if public_key is defined else 'Non fournie' }}</p>

<div id="chat-container">

    {% for msg in all_messages %}
        {% if msg.type == 'received' %}
            <div class="chat-bubble received">
                <strong>De {{ msg.from }}:</strong> {{ msg.content }}
                {% if msg.date %}<br><small>{{ msg.date }}</small>{% endif %}
            </div>
        {% elif msg.type == 'sent' %}
            <div class="chat-bubble sent">
                <strong>À {{ msg.to }}:</strong> {{ msg.content }}
                {% if msg.date %}<br><small>{{ msg.date }}</small>{% endif %}
            </div>
        {% endif %}
    {% endfor %}

</div>




<form id="chat-form" action="/crypter_message" method="POST">
    <label for="destinataire">Destinataire :</label>
    <select name="destinataire" id="destinataire" onchange="changeContact()" required>
        <option value="">-- Choisir un utilisateur --</option>
        {% for user in users_with_keys %}
            {% if user.username != session.get('username') %}
            <option value="{{ user.username }}" 
                    {% if user.username == session.get('last_destinataire') %}selected{% endif %}>
                {{ user.username }} (n={{ user.n }}, e={{ user.e }})
            </option>
            {% endif %}
        {% endfor %}
    </select>

    <input type="text" id="chat-input" name="message" placeholder="Écris un message..." required>

    <button type="submit" id="chat-submit">Envoyer</button>
</form>

<script>
function changeContact() {
    const select = document.getElementById('destinataire');
    const selectedContact = select.value;
    
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = '/select_contact';
    
    const input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'contact';
    input.value = selectedContact;
    
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
}
</script>



    </form>




    <script src="../static/js/reponse.js"></script>
</body>

</html>